.container-slides{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
  position: absolute;
  /* width: 100%;
  height: 100%; */
}
.slider{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide-titles {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    z-index: 3;
    position: relative;

  }
  .title {
    width: 100%;
    max-width: 550px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .title_active {
    width: 100%;
    max-width: 550px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
   
    

  }
  .title.active h1{
    color: white;
    opacity: 1;
    z-index: 4;
    

  }
  
  .title h1 {
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.2);
    transition: color 0.25s ease, opacity 0.25s ease;

  }
 

  .slide-images {
    width: 100%;
    max-width: 550px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    pointer-events: all;
    opacity: 0.5;
    z-index: 2;

  }

  .img-top {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(85% 0%, 0% 0%, 0% 50%, 85% 50%);
    transition: clip-path 1s cubic-bezier(0.075, 0.82, 0.165, 1);

  }
  
  .img-bottom {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 50%, 15% 50%, 15% 100%, 100% 100%);
    transition: clip-path 1s cubic-bezier(0.075, 0.82, 0.165, 1);

  }
  
  .slide-images:hover .img-top {
    clip-path: polygon(90% 0%, 10% 0%, 10% 50%, 90% 50%);
  }
  
  .slide-images:hover .img-bottom {
    clip-path: polygon(90% 50%, 10% 50%, 10% 100%, 90% 100%);
  }

  @media(max-width: 1400px) {
  
  }

  @media(max-width: 1200px) {
  
  
  }
  @media(max-width: 991px) {
    .slide-images {
      width: 100%;
    }
  
   
  
    .title h1 {
      opacity: 0;
      font-size: 24px;
    }
  
    .active h1 {
      opacity: 0;
    }
  }
  
  @media(max-width: 768px) {
  
    .menu-container{
      z-index: 5;
    }
    .slide-images {
      width: 100%;
      height: 50%;
      z-index: 0;
      left: 50%;
    }
  
    .img-top,
    .img-bottom {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  
    .slide-images:hover .img-top,
    .slide-images:hover .img-bottom {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  
    .title h1 {
      opacity: 0;
      font-size: 24px;
    }
  
    .active h1 {
      opacity: 1;
    }
  
  }
  
  @media(max-width: 600px) {}
  
  @media(max-width: 480px) {

  }
  
  